<ul id="available-repositories" class="checkable-cards-list">
  <% repositories.each do |repo| %>
  <li>
    <%= f.label :repository, value: repo.full_name, class: "checkable-card" do %>
      <%= f.radio_button :repository, repo.full_name, data: { action: "slot-wizard#moveToStep2" } %>
      <%= repo.full_name %>
    <% end %>
  </li>
  <% end %>
</ul>