<ul id="available-issues" class="checkable-cards-list">
  <% issues.each do |issue| %>
  <li>
    <%= f.label :issue_number, value: issue.number, class: "checkable-card" do %>
      <%= f.radio_button :issue_number, issue.number, data: { action: "slot-wizard#moveToStep3" } %>
      <%= issue.title %>
    <% end %>
  </li>
  <% end %>
</ul>
