<main id="open-a-slot" class="resource">
  <h1>Open a slot</h1>

  <section class="form-step">
    <h2>First, choose a GitHub repository</h2>
    <p>[repositories#index]</p>
  </section>

  <section class="form-step">
    <h2>Then, choose an issue</h2>
    <p>[repositories#show]</p>
  </section>

  <section class="form-step">
    <h2>Finally, fill in the details of the slot</h2>
    <p>[slots#new]</p>
  </section>
</main>
