.button {
  display: inline-flex;
  padding: 0.4rem 0.75rem;
  font-weight: 500;
  text-decoration: none;
  border: solid 2px var(--color-text-header);
  color: var(--color-text-header);
  border-radius: var(--border-radius);
  transition: 100ms ease-out;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-surface-dark);
}

.button--solid {
  background-color: var(--color-text-header);
  color: var(--color-white);
}

.button--solid:hover {
  background-color: var(--color-text-body);
}

.button--full {
  width: 100%;
}
