@import url("base.css");

/* Application styles */

header nav {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-content: center;
  
  position: relative;
  margin: 0 0 2em;
  padding: 2px 3em;
  
  border-bottom: 2px solid var(--clr-neutral-800);
  background-color: var(--clr-neutral-400);
}

.title-logo {
  display: flex;
  flex-flow: column;
  justify-content: end;
}

.header-nav {
  list-style: none;
  padding-inline-start: 0;
  text-align: end;
  
  justify-self: end;
  
  display: flex;
  justify-content: start;
  gap: 1em;
}

header a {
  color: var(--clr-neutral-800);
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color: var(--clr-primary-600);
}

main {
  display: grid;
  justify-items: center;
  
  width: 80%;
  margin: 0 auto;
  
  color: var(--clr-neutral-400);
}

.slot {
  border: 2px solid var(--clr-neutral-800);
}

/*
#me {
  border: 2px solid var(--clr-neutral-800);
  border-radius: .75em;
  padding: 2em;

  background-color: var(--clr-neutral-100);
}

#me label {
  display: block;
  font-family: var(--ff-heading);
}
*/
