
@import url("base.css");

/* Application styles */

header nav {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-content: center;

  position: relative;
  margin: 0 0 2em;
  padding: 2px 3em;

  border-bottom: 2px solid var(--clr-neutral-800);
  background-color: var(--clr-neutral-400);
}

.title-logo {
  display: flex;
  flex-flow: column;
  justify-content: end;
}

.header-nav {
  list-style: none;
  padding-inline-start: 0;
  text-align: end;

  justify-self: end;

  display: flex;
  justify-content: start;
  gap: 1em;
}

.header-nav li {
  font-weight: bold;
  color: var(--clr-secondary-400);
}

.header-nav a {
  color: var(--clr-neutral-800);
  text-decoration: none;
}

.header-nav a:hover {
  color: var(--clr-primary-600);
}

main.resource {
  display: grid;
  justify-items: center;

  width: 80%;
  margin: 0 auto;

  color: var(--clr-neutral-400);
}

main.resource h1 {
  justify-self: center;
  grid-column: 1 / -1;
}


section.form-step h2 {
  text-align: left;
}


/* Slots */

main#open-a-slot {
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
}

main.resource.slot {
  border: 2px solid var(--clr-neutral-800);
}

/* Jams */
main#look-for-a-jam {

}

#slots {
  display: grid;
  justify-self: stretch;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
}

.card {
  border: 1px solid var(--clr-neutral-800);
  border-radius: 0.5em;
  padding: 1em;
}

/*
#me {
  border: 2px solid var(--clr-neutral-800);
  border-radius: .75em;
  padding: 2em;

  background-color: var(--clr-neutral-100);
}

#me label {
  display: block;
  font-family: var(--ff-heading);
}
*/

/* Profile */
.content {
  width: 450px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  background: white;
  margin: 15px 2px;
  padding: 25px;
}

.image img {
  height: auto;
  width: 120px;
  border-radius: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.name {
  font-size: 1.25em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.job_discription {
  font-size: 0.7em;
  color: gray;
  margin: 10px 30px 20px;
}

button {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-weight: bolder;
}

.button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px 30px 0px;
}

.button .message {
  background: white;
  border: 2px solid #000;
}

button.message:hover {
  letter-spacing: 1px;
  transition: 0.5s;
  background: rgba(88, 164, 151, 0.5);
}

@media screen and (max-width: 480px) {
  .box {
    width: 100vw;
    border-radius: 0px;
  }

  .button {
    display: flex;
    flex-direction: column;
  }

  .button button {
    width: 250px;
  }

}
