<main id="profile" class="resource">
  <section class="content">
    <div class="image">
      <img src=<%= @user.avatar_url %> alt="avatar">
    </div>
    <div class="text">
      <p class="name"><%= @user.name.presence || @user.login.presence || @user.email.presence %></p>
      <p class="job_discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque, ipsam a amet laboriosam eligendi.</p>
    </div>
    <div class="button">
      <div>
        <button class="message" type="button">My slots</button>
      </div>
    </div>
  </section>
</main>
